body{
    font-family:"Noto Sans SC", sans-serif;
    font-weight: 400; /* Regular for body */
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Noto Serif SC', serif;
  font-weight: 600; /* SemiBold for headings */
}

/* For an extra elegant main title */
.site-title {
  font-family: 'Noto Serif SC', serif;
  font-weight: 700;
}
html {
    --pst-font-family-base: Verdana, var(--pst-font-family-base-system);
    --pst-font-family-heading: Cambria, Georgia, Times, var(--pst-font-family-base-system);
    --pst-font-family-monospace: Courier, var(--pst-font-family-monospace-system);
}

